header {
    background-color: lightslategray;
    padding: 15px 0;
    text-align: center;
    color: white;
    font-size: 1vw;
}
iframe {
    float: left;
    border-style: none;
    width: 80%;
    height: 75vh;
    overflow: scroll;
}
nav {
    background-color: lightslategray;
    float: left;
    width: 20%;
    color: white;
    text-align: center;
    height: 75vh;
    overflow:hidden;
}
:root { /* root variable to be changed in js script */
    --bg-var: rgb(94, 108, 122);
}
nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav a:link {
    background-color: var(--bg-var);
}
nav a:hover {
    background-color: rgb(107, 124, 139);
    color: rgb(235, 235, 235);
}
footer {
    background-color: lightslategray;
    text-align: center;
    color: white;
    padding: 10px;
}
span {
    color: darkorange;
    font-weight: bold;
}